
    <footer class="site__footer">
        <div class="container footer__container">
            <div class="row footer__bottom">
                <div class="col">
                    <ul class="nav nav--footer list-inline d-inline-block">
                        <li class="nav-item list-inline-item"><a href="#" class="nav-link">Privacy Statement</a></li>
                        <li class="nav-item list-inline-item"><a href="#" class="nav-link">Site Map</a></li>
                        <li class="nav-item list-inline-item"><a href="#" class="nav-link">Employee Resources</a></li>
                        <li class="nav-item list-inline-item"><a href="#" class="nav-link">Careers</a></li>
                    </ul>
                    <span class="copy d-inline-block">&copy; Copyright 2019 Road America Corporation. All rights reserved. (v7.12)</span>
                </div>
            </div>
        </div>
    </footer>
