.btn-primary {
    font-size: $font-size-base * 1.35; // 19px
    font-weight: 700;
    border-radius: 8px;
    padding-left: 2em;
    padding-right: 2em;
}

.btn--paging {
    width: 237px;
}

.btn--inline {
    color: $white;
    display: inline-block;
    padding: 0.125rem 1rem;
    border-radius: 5px;
}

@include media-breakpoint-down(md) {
    .btn-primary {
        box-shadow: 0 8px 9px rgba(40, 33, 0, .22);
    }
}
