.card--home {
    box-shadow: 1px 5px 10px rgba(0,0,0,.25);
    border-radius: 8px;

    .card-title {
        font-weight: 400;
        margin: -1rem 0 .125rem;
    }
    .card-body {
        font-size: $font-size-base * 0.78571; // 11px
        line-height: 1.3;
    }
}
