    <header class="site__header py-lg-2">
        <div class="container header__container">
            <div class="row justify-content-between">
                <div class="col-7">
                    <a href="/">
                        <img src=${require("../../imgs/roadamerica-logo_white_bkgd.png")} alt="Logo Road America">
                    </a>
                </div>
                <div class="col-5 text-right">
                    <a class="" href="#">
                        <img src=${require("../../imgs/carmax.png")} alt="Logo Carmax">
                    </a>
                </div>
            </div>
        </div>
    </header>
